.modal{
  width: 620px;
  .main{
    padding: $modal-padding;
    word-wrap: break-word;
  }
  .footer {
    padding: 0px $modal-padding $modal-padding $modal-padding;
    display: flex;
    justify-content: flex-end;
    box-sizing: content-box;
    text-align: right;
    border-radius: 0 0 $global-radius $global-radius;
    button + button {
      margin-left: 8px;
      margin-bottom: 0;
    }
  }
}

.ant-modal {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  width: auto;
  margin: 0 auto;
  top: 100px;
  padding-bottom: 24px;
}

.ant-modal-wrap {
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.ant-modal-title {
  margin: 0;
  font-weight: $global-weight-bold;
  color: $white;
}

.ant-modal-content {
  position: relative;
  background-color: #fff;
  border: 0;
  border-radius: $global-radius;
  background-clip: padding-box;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.ant-modal-close {
  cursor: pointer;
  border: 0;
  background: transparent;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  font-weight: $global-weight-bold;
  line-height: 1;
  text-decoration: none;
  -webkit-transition: color .3s;
  transition: color .3s;
  color: $white;
  outline: 0;
  padding: 0;
}

.ant-modal-close-x {
  display: block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
  width: 50px;
  height: 38px;
  line-height: 38px;
  &:before {
    content: "\e800";
    display: block;
    font-family: 'dexma-icon';
  }
}

.ant-modal-close {
  &:focus, &:hover {
    text-decoration: none;
  }
}

.ant-modal-header {
  padding: 10px 15px;
  border-radius: $global-radius $global-radius 0 0;
  background: $background-color-active;
  color: $white;
  border-bottom: 1px solid transparent;
}

.ant-modal-body {
  padding: 0px;
}

.ant-modal-footer {
  padding: 0px $modal-padding $modal-padding $modal-padding;
  text-align: right;
  border-radius: 0 0 $global-radius $global-radius;
  button + button {
    margin-left: 8px;
    margin-bottom: 0;
  }
}

.ant-modal {
  &.zoom-enter, &.zoom-appear {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.ant-modal-mask {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  z-index: 1000;
  filter: alpha(opacity = 50);
}

.ant-modal-mask-hidden {
  display: none;
}

.ant-modal-open {
  overflow: hidden;
}

.ant-modal-centered {
  text-align: center;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
  }
  .ant-modal {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    text-align: left;
  }
  .ant-table-body {
    white-space: nowrap;
    overflow-x: auto;
  }
}

@media (max-width: 767px) {
  .ant-modal {
    width: auto !important;
    margin: 10px;
  }
  .ant-modal-centered .ant-modal {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}

.ant-confirm {
  .ant-modal-header, .ant-modal-close {
    display: none;
  }
  .ant-modal-body {
    padding: 32px 32px 24px;
  }
}

.ant-confirm-body-wrapper {
  zoom: 1;
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.ant-confirm-body {
  .ant-confirm-title {
    color: rgba(0, 0, 0, 0.85);
    font-weight: $global-weight-bold;
    line-height: 1.4;
    display: block;
    overflow: hidden;
  }
  .ant-confirm-content {
    margin-left: 38px;
    color: rgba(0, 0, 0, 0.65);
    margin-top: 8px;
  }
  > .anticon {
    margin-right: 16px;
    float: left;
  }
}

.ant-confirm .ant-confirm-btns {
  margin-top: 24px;
  float: right;
  button + button {
    margin-left: 8px;
    margin-bottom: 0;
  }
}

.ant-confirm-error .ant-confirm-body > .anticon {
  color: #f5222d;
}

.ant-confirm-warning .ant-confirm-body > .anticon, .ant-confirm-confirm .ant-confirm-body > .anticon {
  color: #faad14;
}

.ant-confirm-info .ant-confirm-body > .anticon {
  color: #1890ff;
}

.ant-confirm-success .ant-confirm-body > .anticon {
  color: #52c41a;
}