.pagination{
  ul{
    list-style: none;
    margin: 0px;
    li{
      display: inline-block;
      &.disabled{
        a{
          opacity: 0.5;
        }
      }
      &:first-child,
      &:last-child{
        a{
          font-size: .8em;
          padding: 8px;
        }
      }
      &:first-child{
        margin-right: 10px;
      }
      &:last-child{
        margin-left: 10px;
      }
      &.active {
        a{
          @extend %button-active;
        }
      }
      a{
        @extend %button;
        padding: 8px 10px;
        cursor: pointer;
        display: block;
      }
    }
  }
}