.dexma-select{
  .css-1aya2g8 {
    background: $white;
    border-radius: $global-radius;
    border: 1px solid $gray-light;
    margin: 0;
    padding: 0;
    cursor: text;
    overflow: hidden;
  }
  .css-2o5izw,
  .css-1aya2g8{
    min-height: 32px;
    border-radius: $global-radius;
    border: 1px solid $gray-light;
  }
  .css-1aya2g8:hover,
  .css-1aya2g8:focus,
  .css-2o5izw:hover{
    border-color: $gray-light;
    box-shadow: none;
  }
  .css-d8oujb{
    display: none;
  }
  .css-15k3avv {
    background-color: hsl(0,0%,100%);
    border-radius: 0px 0px $global-radius $global-radius;
    border: 1px solid $gray-light;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    margin-bottom: 0px;
    margin-top: -1px;
    position: absolute;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
  }
  .css-11unzgr{
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .css-1ep9fjw{
    padding: 5px;
  }
  .css-1sjym57,
  .css-1rtrksz{
    padding: 0 6px;
  }

  .css-1g6gooi{
    margin: 0;
  }

  .css-rsyb7x{
    margin: 0;
    padding-bottom: 0px;
  }

  //Items options
  .css-z5z6cw,
  .css-v73v8k,
  .css-wqgs6e{
    padding: 6px 6px;
  }

  // Item selected and intem option background
  .css-wqgs6e {
    background-color: $gray-light-secondary;
  }

  //Item selected
  .css-xwjg1b{
    @extend %button-active;
  }

  .css-10odw4q{
    color: inherit;
    font-weight: $global-weight-bold;
  }

  .css-1alnv5e:hover {
    background-color: transparent;
    color: inherit;
    cursor: pointer;
  }

  // Start refactoring scss

  .dexma-select__placeholder{
    color: $placeholder-color;
    font-size: $global-font-size;
  }

  // Dropdown
  .dexma-select__dropdown-indicator,
  .dexma-select__dropdown-indicator:hover{
    color: $icon-color-elements;
    cursor: pointer;
  }

  .dexma-select__control{
    min-height: $global-height-elements;
    border-radius: $global-radius;
  }

  .dexma-select__value-container,
  .dexma-select__dropdown-indicator{
    padding: 0 10px;
  }

  .dexma-select__menu-list{
    padding-bottom: 0px;
    padding-top: 0px;
  }

  .dexma-select__option,
  .dexma-select__option--is-selected{
    padding: 5px 10px;
    font-size: 12px;
  }

    // Control
  .dexma-select__control,
  .dexma-select__control:hover{
    border: 1px solid $border-elements;
    box-shadow: none;
  }

  .dexma-select__indicator-separator{
    background: $border-elements;
  }

  // Menu
  .dexma-select__menu{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 6px, rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;
    border-radius: $global-radius;
    margin-bottom: 8px;
    margin-top: 5px;
  }
  .dexma-select__option--is-selected{
    background-color: $primary-brand-color!important;
    color: $white;
  }

  .dexma-select__option:active,
  .dexma-select__option--is-focused{
    background-color: $gray-light-secondary;
  }

  .dexma-select__menu-list{
    max-height: 315px;
  }

  .dexma-select__single-value{
    font-size: $global-font-size;
  }

  .dexma-select__input{
    input{
      box-shadow: none!important;
      outline: none!important;
      outline: 0px!important;
    }
  }

}