{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": [
    "react",
    "prettier"
  ],
  "rules": {
    "import/no-unresolved": 0,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/require-default-props": 0,
    "react/destructuring-assignment": 0,
    "react/default-props-match-prop-types": 0,
    "no-console": "off",
    "strict": ["error", "global"],
    "curly": "warn",
    "no-return-assign": 0,
    "object-curly-spacing": ["error"],
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "env": {
    "jest": true,
    "es6": true,
    "browser": true,
    "node": true
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  }
}