# DEXMA
generated
coverage
docs-static/**/*.d.ts
test/jest-test-results.json
test/components/__snapshots_
/storybook-static
dist

#IDE
.idea/
*.iml
*.ipr
*.iws
.history/

# Node
node_modules
npm-debug.log*
lerna-debug.log
yarn-error.log