version: 2
jobs:
  build:
    working_directory: ~/project/repo
    docker:
      - image: circleci/node:8
    steps:
      - checkout
      - restore_cache:
          key: npm-cache-v1-{{ checksum "package-lock.json" }}
      - run:
          name: Install Dependencies
          command: npm install
      - save_cache:
          key: npm-cache-v1-{{ checksum "package-lock.json" }}
          paths:
            - /home/circleci/.npm
      - run:
          name: Run Tests
          command: npm test

workflows:
  version: 2

  on-commit:
    jobs:
      - build:
          filters:
            branches:
              ignore: gh-pages