//----------------------------- Global Styles ------------------------------------ //

$global-radius: 2px;
$global-font-size: 12px;
$global-weight-bold: 700;
$text-shadow: 0 1px 0 hsla(0, 0%, 100%, 0.75);
$global-height-elements: 30px;

// Typography
$sizes: (
  small: $global-font-size,
  medium: $global-font-size * 1.5,
  large: $global-font-size * 2,
  xlarge: $global-font-size * 2.5,
);

$header-styles: (
  small: (
    'h1': (
      'font-size': 24,
    ),
    'h2': (
      'font-size': 20,
    ),
    'h3': (
      'font-size': 19,
    ),
    'h4': (
      'font-size': 18,
    ),
    'h5': (
      'font-size': 17,
    ),
    'h6': (
      'font-size': 16,
    ),
  ),
  medium: (
    'h1': (
      'font-size': 28,
    ),
    'h2': (
      'font-size': 24,
    ),
    'h3': (
      'font-size': 20,
    ),
    'h4': (
      'font-size': 18,
    ),
    'h5': (
      'font-size': 16,
    ),
    'h6': (
      'font-size': 14,
    ),
  ),
);

// Colors
$white: #fff;
$black: #000;
$gray-light: #cccccc;
$gray-light-secondary: #e2e2e2;
$gray-dark-primary: #888;
$gray-dark-secondary: #666;
$primary-color: #333333;
$secondary-color: #a0a0a0;
$alert-color: #cc4b37;

$primary-brand-color: #618916;

//Background
$background-color: $white;
$background-color-secondary: $gray-light-secondary;
$background-color-active-hex: $primary-brand-color;
$background-color-active: hsl(
  hue($background-color-active-hex),
  saturation($background-color-active-hex),
  lightness($background-color-active-hex)
);
$border-color-active: hsl(
  hue($background-color-active-hex),
  saturation($background-color-active-hex),
  lightness($background-color-active-hex) - 10
);
$box-shadow-color-active-hsl-1: hsl(
  hue($background-color-active-hex),
  saturation($background-color-active-hex),
  lightness($background-color-active-hex) + 25
);
$box-shadow-color-active-hsl-2: hsl(
  hue($background-color-active-hex),
  saturation($background-color-active-hex),
  lightness($background-color-active-hex) - 5
);
$box-shadow-active: inset 0 1px 0 $box-shadow-color-active-hsl-1,
  inset 0 0 2px $box-shadow-color-active-hsl-2;

$error-color: $alert-color;

// Borders
$border-color: $gray-light-secondary;

//----------------------------- Components Styles ------------------------------------ //

//Global
$header-font-weight: $global-weight-bold;
$anchor-color: $primary-color;
$anchor-color-hover: $primary-color;
$body-font-color: $primary-color;

//Buttons
$button-background-color: $gray-light-secondary;
$button-font-family: $global-font-size;
$button-font-weight: $global-weight-bold;
$button-radius: $global-radius;
$button-border-color-active: $border-color-active;
$button-padding: 0.6em 1em;
$button-margin: 0 0 20px 0 !default;
$button-fill: solid !default;
$button-background: $primary-color !default;
$button-background-hover: scale-color(
  $button-background,
  $lightness: -15%
) !default;
$button-color: $white !default;
$button-color-alt: $black !default;
$button-border: 1px solid transparent !default;
$button-border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
$button-hollow-border-width: 1px !default;
$button-box-shadow: inset 0 1px 0 #f9f9f9, inset 0 0 2px #fff;

//Cards
$card-background: $gray-light-secondary;
$card-body-background: $background-color-secondary;
$card-font-color: $primary-color;
$card-body-color: $white;
$card-divider-background: $gray-light;
$card-border: 1px solid $gray-light;

// Title
$title-color: $gray-light;

// Error
$error-font-size: $global-font-size;
$error-color: $alert-color;
